<input id="fileupload" type="file" name="fileupload" />
<button id="upload-button" onclick="uploadFile()"> Upload </button>

{{#each images as |image|}}
      <div class="col-md-8">
        <h4><img src="{{image.image}}"></h4>
      </div>
    {{/each}}

<script src="./js/profile.js"></script>