<input id="fileupload" type="file" name="fileupload" />
<button id="upload-button" onclick="uploadFile()"> Cartoonify </button>

<div class="container">
  <div class="row">
{{#each images as |image|}}
<div class="container">
  <div class="row">
      <div class="col-sm">
        <h4><img src="{{image.image}}"></h4>
      </div>
    {{/each}}

<script src="./js/profile.js"></script>