<div class="container text-center text-bg-success p-3" style="height 100%">
  <div class="d-flex justify-content-center text-bg-success p-3">
    <header class="display-flex justify-space-between align-center p-3">
      <h1 style="font-family: 'Permanent Marker', cursive;">Cartoonify My Pic!</h1>
      <h3>Welcome to Cartoonify My Pic! Upload your pictures and let us style
        them into fun cartoon art you'll want to share with your friends and
        family!</h3>
    </header>
    <div class="container text-center text-bg-success p-2">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-md-6">
              <h2>Login</h2>
              <form class="form login-form">
                <div class="form-group">
                  <label for="email-login">email:</label>
                  <input class="form-input" type="text" id="email-login" />
                </div>
                <div class="form-group">
                  <label for="password-login">password:</label>
                  <input
                    class="form-input"
                    type="password"
                    id="password-login"
                    placeholder="Min 8 Characters"
                  />
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" type="submit">login</button>
                </div>
              </form>
            </div>

            <div class="col-md-6">
              <h2>Signup</h2>
              <form class="form signup-form">
                <div class="form-group">
                  <label for="name-signup">name:</label>
                  <input class="form-input" type="text" id="name-signup" />
                </div>
                <div class="form-group">
                  <label for="email-signup">email:</label>
                  <input class="form-input" type="text" id="email-signup" />
                </div>
                <div class="form-group">
                  <label for="password-signup">password:</label>
                  <input
                    class="form-input"
                    type="password"
                    id="password-signup"
                    placeholder="Min 8 Characters"
                  />
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" type="submit">signup</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="carousel-cc" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1">
        <img
          src="https://res.cloudinary.com/dfk0sfgij/image/upload/v1676514120/r9kpd1edoczmkjf9bm9w.jpg"
          class="d-block"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://res.cloudinary.com/dfk0sfgij/image/upload/v1676513197/prnsrahctnkqaljy43mz.png"
          class="d-block"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://res.cloudinary.com/dfk0sfgij/image/upload/v1676514128/jyqdbmp75gmqidltsanx.jpg"
          class="d-block"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://res.cloudinary.com/dfk0sfgij/image/upload/v1676514143/o5aif3wwo2xfwsd69kih.jpg"
          class="d-block"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://res.cloudinary.com/dfk0sfgij/image/upload/v1676514157/sbvzy9hfewnzwxl7jerz.jpg"
          class="d-block"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://res.cloudinary.com/dfk0sfgij/image/upload/v1676514170/dfxka607y4ifnj1wy2fi.jpg"
          class="d-block"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://res.cloudinary.com/dfk0sfgij/image/upload/v1676514187/zws5cerhyiqclkz23qr4.jpg"
          class="d-block"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carousel-cc"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carousel-cc"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<script src="./js/login.js"></script>