<div class="row">
  <div class="col-auto">
    <h2>My Profile</h2>
  </div>
</div>

<div class="dish-card">
  <div class="dish-card-header">
    Dashboard
  </div>
  <div class="card-body">
    <p>
      Description:
      {{name}}
    </p>
    <p>
      E-mail:
      {{email}}
    </p>
  </div>
</div>

<script src="./js/profile.js"></script>