<div class="row">
  <div class="col-auto">
    <h1>Welcome, {{name}}!</h1>
    <input id="fileupload" type="file" name="fileupload" />
    <button id="upload-button" class="btn btn-primary" onclick="uploadFile()">
      Upload Image
    </button>
    <div class="container">
      <div class="row">
        {{#each images as |image|}}
        <div class="col-md-8">
          <div class="card">
            <a href="{{image.image}}" download = "cartoonimage.jpg">
            <img class="card-img-top" src="{{image.image}}" alt="Card image cap"/>
            </a>
            <div class="card-body">
              <button data-imageId="{{image.id}}" onclick="deleteImage(event)" class="btn btn-primary delete-btn">Delete
                Image</button>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<script src="./js/profile.js"></script>