body {
    padding: 10px;
}

.logout {
    width: 100%;
    text-align: right;
}

#logout {
    color: white;
}

h1 {
    font-size: 72px;
    text-align: center;
    padding-bottom: 20px;
}

.images {
    margin-top: 10px;
}

.delete {
    width: 100%;
    text-align: center;
}

.upload-group {
    width: 100%;
    text-align: center;
}

.card {
    margin-bottom: 25px;
}


.modal-title {
    color: black;
}


.modal-body {
    color: black;
};


.carousel-inner img {
    margin: auto;
    max-width: 100%;
    max-height: fit-content;
  }


@media screen and (max-height: 1000px) {
    .carousel-item {
        height: 24rem;
    }
}